<header class="header flex flex-between">
    <div class="brand flex flex-center fade-left">
        <div class="logo flex flex-center rounded">РБ</div>
        <div>
            <h1 class="text-white fw-800 fs-14">Рембуд</h1>
            <div class="slogan-desctop slogan text-light fs-12">
                Ремонт квартир і будинків — швидко, надійно, з гарантією
            </div>
        </div>
    </div>
    <nav class="flex flex-center">
        <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
        <label class="burger" for="burger-checkbox"></label>
        <div class="navlinks desktop-only flex flex-center"></div>
        <div class="cta desktop-only flex flex-center"></div>
        <div class="navlinks mobile-nav flex flex-col flex-center">
            <p class="slogan text-light fs-12">
                Ремонт квартир і будинків — швидко, надійно, з гарантією
            </p>
        </div>
    </nav>
</header>