<header class="header">
    <div class="container topbar">
        <div class="brand">
            <div class="logo">РБ</div>
            <div>
                <h1>Рембуд</h1>
                <div class="slogan">Ремонт квартир і будинків — швидко, надійно, з гарантією</div>
            </div>
        </div>
        <nav>
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label class="burger" for="burger-checkbox"></label>
            <div class="navlinks desktop-only"> </div>
            <div class="cta desktop-only">

            </div>
            <div class="navlinks mobile-nav">

            </div>
        </nav>
</header>